<div class="mt-4">
  <div class="row">
    

    <div class="col-lg-9">
      <h2>Món: {{food.name}}</h2>
      <img src="{{food.img}}" alt="" srcset="">
      <p>mô tả: {{food.description}}</p>
      <p>đánh giá: {{food.rating}}</p>
    </div>
    <div class="col-lg-3">
      <p>giá tiền: {{food.price}}</p>
      <button>mua ngay</button>
    </div>
  </div>
</div>