
<div class="mt-4">
  <div class="row">
    

    <div class="col-lg-9">
      <h2>Món: {{food.name}}</h2>
      <img src="{{food.img}}" alt="" srcset="">
      <p>mô tả: {{food.description}}</p>
      <p>đánh giá: {{food.rating}}</p>
    </div>
    <div class="col-lg-3">
      <p>giá tiền: {{food.price}}</p>
      <button>mua ngay</button>
    </div>
  </div>
</div>
<div>
  a
</div>
{{#each comments}}
                <div>{{content}}</div>
                {{/each}}
<div>
  a
</div>

<form class="form-horizontal" action='{{food.slug}}/addComment' method="POST">
  <fieldset>

    <div class="control-group">
      <!-- Password   /-->
      <label class="control-label" for="img">Comment here</label>
      <div class="controls">
        <input type="text" id="comment" name="comment" placeholder="New Comment" class="input-xlarge">
        <p class="help-block">Nhap comment moi vao</p>
      </div>
    </div>

     <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success">Comment</button>
      </div>
    </div>
    </fieldset>
  </form>